/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

$color1: #dcdcdd; //rgba(220, 220, 221, 100)
$color2: #c5c3c6; //rgba(197, 195, 198, 100)
$color3: #46494c; //rgba(70, 73, 76, 100)
$color4: #4c5c68; //rgba(76, 92, 104, 100)
$color5: #1985a1; //rgba(25, 133, 161, 100)

// Theme light
$color6: #e8e1ef; //rgba(232, 225, 239, 100)// best
$color7: #d9fff8; //rgba(217, 255, 248, 100)// best
$color8: #c7ffda; //rgba(199, 255, 218, 100)
$color9: #c4f4c7; //rgba(196, 244, 199, 100)
$color10: #9bb291; //rgba(155, 178, 145, 100)

$color_canvas: #fefdff;

//Theme black
$color_background: #36394c;
$color_separator: #282a36;
$color_canvas_panel: #282a36;